@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(228, 228, 228);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    width: 100vW;
    height: 100vh;
}

header{
    background-color: grey;
    padding: 20px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header h1{
    color: white;
    border: 1px dotted black;

    flex: 0 0 200px;
}

header > nav {
    border: 1px dotted black;

    display: flex;
    flex-flow: row wrap;
    justify-content: end;

}

header > nav a{
    background-color: black;
    height: auto;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    
}

header > nav a:hover{
    background-color: #f95454;
    color: black;
    transition: background-color .5s;
    transform: translateY(-5px);
}

main{
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}



